#contenedorPersonajes{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
#contenedorLibros{
    display: flex;
}
#contenedorCasas{
    display: flex;
}
#contenedorHechizos{
    display: flex;
}