*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
}
body{
     background-image: url(img/fondoLiso2.webp);
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-color: rgb(216, 216, 183);
}

#txtCategorias{
    font-size: 27px;
    color: black ;
    font-weight: bold;
    padding-top: 3px;
    -webkit-text-stroke: 0.1px rgb(181, 179, 179); 
    text-shadow: 1px 2px 14px rgb(8, 8, 8);
    font-family: 'Protest Revolution', sans-serif;
}

#txtCategorias:hover{
    background-color: rgba(128, 128, 128, 0.212);
}
#contenedorGeneral{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.card{
    width: 20rem;
}

.carousel{
    width: 55%;
}
.contenedorCarousel{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
#btnFavoritos{
    font-size: 20px;
    font-family: 'Protest Revolution', sans-serif;
    padding-top: 3px;
}
.HP{
    font-size: 75px;
    color: black ;
    font-weight: bold;
    -webkit-text-stroke: 0.1px rgb(181, 179, 179); 
    text-shadow: 1px 2px 14px rgb(8, 8, 8);
    font-family: 'Protest Revolution', sans-serif;
}
.h2Elegi{
    font-size:40px;
    color: black ;
    font-weight: bold;
    -webkit-text-stroke: 0.1px rgb(181, 179, 179); 
    text-shadow: 1px 2px 14px rgb(8, 8, 8);
    font-family: 'Protest Revolution', sans-serif;
}
#contenedorTitulo{
   margin-left: 15px;
   text-align: center;
    padding-top: 18px;
   
}
.cardFavoritos{
    width: 250px;
}
.btnEliminar:hover{
    background-color: rgba(144, 1, 1, 0.825);
    border: rgb(255, 0, 0);
}